@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
 @apply p-1 bg-purple-800 flex items-center justify-between
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navList {
  list-style: none;
  display: flex;
}

.navItem {
  margin-right: 10px;
}

.navItem a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
